.search-container {
  margin-left: 350px;
  margin-top: 100px;
}

.search-container input {
  width: 280px;
}
.search-container button {
  margin-left: 5px;
}

.search-container h1 {
  margin-left: 50px;
}

li {
  list-style: none;
  color: #30418C;
  background: #F9F9FC;
  border-bottom: 1px solid #E5E6F1;
}

ul {
  padding-left: 20px !important;
}

.contrib-list {
  list-style: none;
  display: block;
}

.contrib-list li{
  display: inline;
}

.contrib-avatar {
  height: 75px;
  margin: 5px;
}

.pub-repos, .proj-contrib {
  color: #eb8c28;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #356de4;
}

.forks-count, .watchers-count {
  text-align: center;
}

span {
  font-size: 11px;
}

.repo-outer-container {
  height: 80px;
}

.lang-watch-container {
  margin-top: 20px;
}
